<div>
    <sc2-timer (timerExpired)="timeExpire()" class="timer"></sc2-timer>
    <!-- <img src="../../../assets/images/button_lan_tc.png" (click)="langButton()" class="chbtn"> -->
    <input class="chbtn" type="button" value="{{'SCN-GEN-VIEWCARD.LANGUAGE' | translate}}" (click) = "langButton()">
    <img src="../../../assets/images/menubar_1_insert_card.png" class="nav-bar sideimg" />
    <!-- <p class="steps-div">{{'SCN-GEN-VIEWCARD.NAVIGATION' | translate}}</p> -->
    <!-- <input type="image" src="../../../assets/images/button_lan_tc.png" class="buttonTC" /> -->
    <sc2-confirm #modalRetry>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageRetry}}
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalFail>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageFail}}
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalNoROP>
        <div class="app-modal-body">
            <div class="modal-message">
                {{'SCN-SCK-COMMON.TIMEOUT-NO-RESPONSE' | translate}}
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modal1>
        <div class="app-modal-body">
            <div class="modal-message">
                {{'SCN-GEN-VIEWCARD.ABORT_CONFIRM' | translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="backRoute()"><span>{{'SCN-GEN-VIEWCARD.YES' | translate}}</span></button>
                <button type="button" class="btnModal cancel" (click)="modal1.hide()"><span>{{'SCN-GEN-VIEWCARD.NO' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <label class="label1" > {{'SCN-GEN-VIEWCARD.INDICATE-CARD-TYPE' | translate}} </label>
    <img src="../../../assets/images/4_1.png" class="indicate_left" (click)="nextOld()" />
    <img src="../../../assets/images/4_2.png" class="indicate_right" (click)="nextNew()"/>
    <!--  (click)="nextRoute()" -->
    <!-- <img src="../../../assets/images/image3.png" class="main-image"/> -->
    <!-- <video class="main-image" autoplay loop>
        <source src="../../../assets/videos/insert-hkid.mp4" type="video/mp4">
    </video>
    <audio *ngIf="isEN" autoplay preload="auto">
        <source src="../../../assets/audio/insertic_EN.mp3" type="audio/mp3">
        Your browser does not support the audio tag.
    </audio>
    <audio *ngIf="!isEN" autoplay preload="auto">
        <source src="../../../assets/audio/insertic_HK.mp3" type="audio/mp3">
        Your browser does not support the audio tag.
    </audio> -->
    <input #imgNext type="hidden" (click)="nextRoute()">
    <!-- <input type="image" src="../../../assets/images/button_Abort.png" class="exitButton" (click)="modal1.show()" /> -->
    <input class="exitButton" type="button" value="{{'SCN-GEN-VIEWCARD.ABORT' | translate }}" (click) = "modal1.show()">
    <label class="footer">SCN-GEN-003-1</label>
</div>