.main-image {
    position:absolute;
    top:139px;
    left: 60px;
    right: 60px;
    // width: 1162px;
    // height: 565px;
    background: #DEFAED;
}

.startEn {
    position: absolute;
    top: 728px;
    left: 60px;
}

.startCh {
    position: absolute;
    top: 728px;
    left: 653px;
}