<div>
    <sc2-timer (timerExpired)="timeExpire()" class="timer"></sc2-timer>
    <!-- <img src="../../../../assets/images/button_lan_tc.png" (click)="langButton()" class="chbtn"> -->
    <input class="chbtn" type="button" value="{{'SCN-GEN-VIEWCARD.LANGUAGE' | translate}}" (click) = "langButton()">
    <img src="../../../assets/images/menubar_1_insert_card.png" class="nav-bar sideimg" />
    <!-- <p class="steps-div">{{'SCN-GEN-VIEWCARD.NAVIGATION' | translate}}</p> -->
    <!-- <input type="image" src="../../../../assets/images/button_lan_tc.png" class="buttonTC" /> -->
    <sc2-confirm #modalRetry>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageRetry}}
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalFail>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageFail}}
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #existCardFail>
        <div class="app-modal-body">
            <div class="modal-message">
                {{'SCN-GEN-VIEWCARD.EXIST-CARD' | translate}}
            </div>
            <div class="buttonDiv">
                    <button type="button" class="btnModal confirm" (click)="goPageCollect(500)"><span>{{'SCN-GEN-VIEWCARD.OK' | translate}}</span></button>
                </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalNoROP>
        <div class="app-modal-body">
            <div class="modal-message">
                {{'SCN-GEN-VIEWCARD.TIMEOUT-NO-RESPONSE' | translate}}
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #maxFail>
            <div class="app-modal-body">
                <div class="modal-message">
                    {{'SCN-GEN-VIEWCARD.OCR-FAIL' | translate}}
                </div>
                <div class="buttonDiv">
                    <button type="button" class="btnModal confirm" (click)="goPageCollect(500)"><span>{{'SCN-GEN-VIEWCARD.OK' | translate}}</span></button>
                </div>
            </div>
        </sc2-confirm>
    <sc2-confirm #modal1>
        <div class="app-modal-body">
            <div class="modal-message">
                {{'SCN-GEN-VIEWCARD.ABORT_CONFIRM' | translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="backRoute()"><span>{{'SCN-GEN-VIEWCARD.YES' | translate}}</span></button>
                <button type="button" class="btnModal cancel" (click)="modal1.hide()"><span>{{'SCN-GEN-VIEWCARD.NO' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <label class="label1"> {{'SCN-GEN-VIEWCARD.INSERT-HKID' | translate}} </label>
    <!--  (click)="nextRoute()" -->
    <!-- <img src="../../../../assets/images/image3.png" class="main-image"/> -->
    <img class="main-image" src="../../../assets/videos/insert-card.gif" />
    <audio *ngIf="isEN" autoplay preload="auto">
        <source src="../../../assets/audio/insertic_EN.mp3" type="audio/mp3">
        Your browser does not support the audio tag.
    </audio>
    <audio *ngIf="!isEN" autoplay preload="auto">
        <source src="../../../assets/audio/insertic_HK.mp3" type="audio/mp3">
        Your browser does not support the audio tag.
    </audio>
    <input #imgNext type="hidden" (click)="nextRoute()">
    <!-- <input type="image" src="../../../../assets/images/button_Abort.png" class="exitButton" (click)="modal1.show()" /> -->
    <input class="exitButton" type="button" value="{{'SCN-GEN-VIEWCARD.ABORT' | translate }}" (click) = "modal1.show()">
    <label class="footer">SCN-GEN-004-1</label>
</div>