/* Breadcrumbs */
nav{
    color: #fff;
    /*background-color: #ee6e73;*/
    
    width: #{$width};
    height: 22px;
    line-height: 20px;
    margin: auto;
    padding-left: 30px;
    width: calc(#{$width} - 30px);
    a.breadcrumb{
        text-decoration: none;
        font-family:'Roboto';
        font-size: 12px;
        color: rgba(0,0,0,0.7);

        &:not(:first-child):before {
            content: '\E5CC';
            /*color: rgba(255,255,255,0.7);*/
            color: rgba(0,0,0,0.7);
            vertical-align: top;
            display: inline-block;
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 25px;
            margin: 0 10px 0 8px;
            -webkit-font-smoothing: antialiased;
        }
        &:last-child {
            /*color: #fff;*/
            color: #000;
        }
    }
}

/* Responsive */
@media screen and (max-width: 1023px) {
    nav{
        width:auto !important;
        padding-left: 30px;
    }
}