<div class="mainPanel">
    <sc2-timer (timerExpired)="timeExpire()" class="timer"></sc2-timer>
    <input class="buttonTC" type="button" value="{{'SCN-GEN-STEPS.LANGUAGE' | translate}}" (click) = "langButton()">
    <img src="../../../../../../assets/images/menubar_1.png" class="sideimg" />
    <p class="steps-div">{{'SCN-GEN-STEPS.NAVIGATION' | translate}}</p>

    <sc2-confirm #modal1>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageAbort | translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="backRoute()"><span>{{'SCN-GEN-STEPS.YES' | translate}}</span></button>
                <button type="button" class="btnModal cancel" (click)="modal1.hide()"><span>{{'SCN-GEN-STEPS.NO' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <label class="labelStay" >{{'SCN-GEN-STEPS.UPDATE-CONDITION-STAY' | translate}}</label>
    <!--<label class="label1" >{{'SCN-GEN-STEPS.PROCESSING-READ' | translate}}</label>-->
    <div class="centerAll" id="processDiv">
        <img src="../../../../../../assets/images/icon_Processing.png"  class="image"/><br><br>
        <!-- <span class="procLabel"> {{ label }}</span> -->
        <span class="procLabel">{{'SCN-GEN-STEPS.PROCESSING' | translate}}</span>
    </div>

    <!--   (click)="nextRoute()" -->
    <!--<img src="../../../../../../assets/images/icon_Processing.png" class="main-image" (click)="pass()"/>-->
    <input #imgNext type="button" (click)="nextRoute()">
    <input type="image" src="../../../../../../assets/images/button_Abort.png" class="exitButton" (click)="backRoute()" />
    <input class="exitButton" type="button" value="{{'SCN-GEN-STEPS.ABORT' | translate}}" (click) = "backRoute()">
    <label class="footerSteps">scn-gen-step-001</label>
</div>