@import '../../shared/sc2-confirm/sc2-confirm.components.scss';

.scn-srk-009 {
    .mainPanel {
        width: 1280px;
        height: 1024px;
        background-color: #fffdf4;
        position: relative;

        .confirmInfo {
            position: absolute;
            opacity: 100%;
            color: #7d7d7d;
            font-size: 42px;
            top: 150px;
            left: 290px;
        }

        .imgMenu {
            position: absolute;
            left: 0px;
        }
    }
    
    .sidebar {
        width: 250px;
        background-color: #fffdf4;
        padding-right: 0;
        float: left;
    }   
    
    .sidebar img{
        width: 100%;
        height: 1024px;
    }
    
    .headerText {
        position: absolute;
        top: 203px;
        left: 291px;
        font-size: 36px;
        opacity: 1;
        color: #333333;
        line-height: 48px;
    }
    
    .rightimage {
        position: absolute;
        right: 60px;
        top: 183px;
    }
    
    .content {
        position: absolute;
        top: 383px;
        right: 63px;
    }
    
    .exitButton {
        position: absolute;
        top: 873px;
        left: 291px;
        bottom: 69px;
        width: 222px;
        height: 82px;
        color: #FFFFFF;
        background-color: #6B6B6B;
        font-size: 28px;
    }

    .confirmButton {
        position: absolute;
        top: 873px;
        right: 60px;
        bottom: 69px;
        width: 222px;
        height: 82px;
        color: #FFFFFF;
        background-color: #3BABA5;
        font-size: 28px;
    }

    .timer {
        position: absolute;
        left: 760px;
    }
    
    .pageName {
        position: absolute;
        bottom: 5px;
        right: 856px;
        opacity: 1;
        color: #bdbdbd;
        font-size: 18px;
        line-height: 21px;
    }

    .buttonTC {
        position: absolute;
        top: 27px;
        left: 1018px;
        width: 202px;
        height: 66px;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        font-size: 30px;
        font-weight: bold;
        color: #FFFFFF;
        background-color: #6B6B6B;
        border-radius: 5px;
    }

    // Infomation
    .information {
        width: 930px;
        height: 610px;
        background-color: #f8f0ef;
        position: absolute;
        top: 214px;
        right: 59px;
    }
    
    .information div {
        position: absolute;
        width: 240px;
    }
    
    .information label {
        opacity: 100%;
        color: #7d7d7d;
        //font-family
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 12px;
    }
    
    .information p {
        font-weight: bold; //Removed this. replace with real font-face
        opacity: 1;
        color: #2A948F;
        font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
        font-size: 26px;
        line-height: 31px;
    }
    
    .information p.chineseName {
        font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
        line-height: 37px;
    }
    
    .information .col1 {
        left: 91px;
    }
    
    .information .col2 {
        left: 348px;
    }
    
    .information .col3 {
        left: 645px;
    }
    
    .information .row1 {
        top: 50px;
    }
    
    .information .row2 {
        top: 80px;
        margin-top: 74px;
    }

    .information .row3 {
        top: 180px;
        margin-top: 74px;
    }
    
    .information .row4 {
        // top: 303px;
        top: 290px;
        // margin-top: 88px;
        margin-top: 74px;
    }
    
    .information .row5 {
        top: 430px;
        margin-top: 67.5px;
    }
    
    .information .registration {
        margin-top: 61px !important;
    }
    
    .information .image {
        position: absolute;
        height: 300px;
        width: 200px;
        left: 89px;
        bottom: 40px;
        background-color: #ffffff;
    }
    
    .information .imgPlaceholder {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    // Information

    // Modal
    .modal-message {
        padding-top: 0px;
    }
    
    .buttonDiv {
        left: 110px;
    }
    // Modal

    .photo-image {
        width: 210px;
        height: 300px;
    }
}

.steps-div {
    position: absolute;
    margin-left: 73px;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 42px;
    font-weight: bold;
    color: #FFFFFF;
    background: #A891BC;
    // width: 230px;
    // height: 78px;
}

.main-image {
    position: absolute;
    top: 305px;
    left: 291px;
    bottom: 195px;
}