.buttonLan {
  position: absolute;
  right: 59px;
  top: 25px;
  font-size: 33px;
  width: 130px;
  height: 72px;
  color: #FFFFFF;
  background-color: #7d7d7d;
}

.mainBG {
  position: absolute;
  top: 110px;
  left: 60px;
  background-color: #DEFAED;
  width: 1160px;
  height: 815px;
  box-shadow: 1px 1px #ACC2B8;
}
.mainLabel {
  position: absolute;
  top: 133.5px;
  color: #333333;
  font-weight: bold;
  font-size: 44px;
  left: 200px;
}

.firstLeft {
  position: absolute;
  left: 132px;
}

.secondLeft {
  position: absolute;
  left: 489px;
}

.thirdLeft {
  position: absolute;
  left: 847px;
}

.firstTop {
  top: 206.5px;
}

.secondTop {
  top: 451.5px;
}

.thirdTop {
  top: 697.5px;
}

.backButton {
  position: absolute;
  top: 940px;
  left: 60px;
}


.buttonDiv1 {
  position: absolute;
  left: 142px;
  top: 256px;
  width: 281px;
  font-size: 26px;
  color: white;
  line-height: 30px;
  text-align: center;
}

.buttonDiv2 {
  position: absolute;
  left: 497px;
  top: 266px;
  width: 291px;
  font-size: 26px;
  color: white;
  line-height: 30px;
  text-align: center;
}

.buttonDiv3 {
  position: absolute;
  left: 852px;
  top: 276px;
  width: 291px;
  font-size: 26px;
  color: white;
  line-height: 30px;
  text-align: center;
}


.buttonDiv4 {
  position: absolute;
  left: 142px;
  top: 481px;
  width: 281px;
  font-size: 26px;
  color: white;
  line-height: 30px;
  text-align: center;
}

.buttonDiv5 {
  position: absolute;
  left: 497px;
  top: 491px;
  width: 291px;
  font-size: 26px;
  color: white;
  line-height: 30px;
  text-align: center;
}

.buttonDiv6 {
  position: absolute;
  left: 852px;
  top: 521px;
  width: 291px;
  font-size: 26px;
  color: white;
  line-height: 30px;
  text-align: center;
}


.btnClass {
  position:absolute;
  left: 60px;
  top: 25px;
  font-size: 33px;
  width: 150px;
  height: 72px;
  color: #FFFFFF;
  background-color: #7d7d7d;
  border:1px solid;
  border-color: #DEFAED;
}

.timer {
  position:absolute;
  right: 128.5px;
  height: 82px;
  padding: 0;
  margin: 0;
}
