<div class="mainPanel">
    <sc2-timer (timerExpired)="timeExpire()" class="timer" #timer></sc2-timer>
    <input class="buttonTC" type="button" value="{{'SCN-GEN-STEPS.LANGUAGE' | translate}}" (click) = "langButton()">
    <img src="../../../../assets/images/menubar_5.png" class="sideimg" />
    <p class="steps-div">{{'SCN-GEN-STEPS.NAVIGATION' | translate}}</p>
    <sc2-confirm #modal1>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageAbort | translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="backRoute()"><span>{{'SCN-GEN-STEPS.YES' | translate}}</span></button>
                <button type="button" class="btnModal cancel" (click)="modal1.hide()"><span>{{'SCN-GEN-STEPS.NO' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalFail>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageFail| translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="processFailQuit()"><span>{{'SCN-GEN-STEPS.YES' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalCollect>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageCollect| translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="modalCollect.hide()"><span>{{'SCN-GEN-STEPS.YES' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <label class="label1" >{{'SCN-GEN-STEPS.COLLECT-HKID-CARD' | translate}}</label>

    <!--   (click)="nextRoute()" -->
    <img *ngIf="cardType === 1" src="../../../../assets/images/collect-old-hkid.gif" class="main-image" (click) = "nextRoute()">
    <img *ngIf="cardType === 2" src="../../../../assets/images/collect-new-hkid.gif" width="928" height="522" class="main-image" (click) = "nextRoute()">
    <input #imgNext type="hidden" (click)="nextRoute()">
    <input type="image" src="../../../../assets/images/button_Abort.png" class="exitButton" (click)="modal1.show()" />
    <input class="exitButton" type="button" value="{{'SCN-GEN-STEPS.ABORT' | translate}}" (click) = "modal1.show()">
    <label class="footerSteps">scn-gen-step-001</label>
</div>