.buttonLan {
    position: absolute;
    right: 59px;
    top: 25px;
}

.mainBG {
    position: absolute;
    top: 110px;
    left: 60px;
    background-color: #DEFAED;
    width: 1160px;
    height: 815px;
    box-shadow: 1px 1px #ACC2B8;
}

.mainLabel {
    position: absolute;
    top: 133.5px;
    color: #333333;
    font-weight: bold;
    font-size: 44px;
    left: 302px;
}

.backButton {
    position: absolute;
    top: 950px;
    left: 60px;
    width: 122px;
    height: 52px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #A8A8A8;
    border-radius: 5px;
}

.timer {
    position:absolute;
    right: 128.5px;
    padding: 0;
    margin: 0;
}

.buttonDiv1 {
    position: absolute;
    left: 142px;
    top: 256px;
    width: 281px;
    font-size: 26px;
    color: white;
    line-height: 30px;
    text-align: center;
}

.chbtn {
    position: absolute;
    margin-top: 30px;
    margin-left: 1100px;
    width: 120px;
    height: 66px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #6B6B6B;
    border-radius: 5px;
  }

  .footerFirst {
    color:#BDBDBD;
    position:absolute;
    left: 60px;
    bottom: 2px;
    font-size: 18px;
  }