<div class="mainPanel">
    <img class="buttonLan" src="../../../assets/images/button_lan_tc .png"/>
    <!-- <img class="mainBG" src="../../../assets/images/bg_1160x640.png"/> -->
    <sc2-timer class="timer"></sc2-timer>
    <div class="mainBG"></div>
    <label  class="mainLabel"> Please select the service. </label>
    <input type="image" class="firstLeft firstTop" (click)="nextRoute('/')"src="../../../assets/images/button_6.png">
        <div class="buttonDiv1">
            <label (click)="nextRoute('/')" class="label1"> Appointment Booking<br> for Application for a Certificate of Registered Particulars </label>
        </div>
    <input type="image" class="secondLeft firstTop" (click)="nextRoute('/')" src="../../../assets/images/button_6.png"/>
        <div class="buttonDiv2">
            <label (click)="nextRoute('/')"> Application for Change<br>of Registered<br>Particulars </label>
        </div>
    <input type="image" class="thirdLeft firstTop" (click)="nextRoute('/')" src="../../../assets/images/button_6.png"/>
        <div class="buttonDiv3">
            <label (click)="nextRoute('/')">Application for <br>Change of Address</label>
        </div>
    <input type="image" class="firstLeft secondTop" (click)="nextRoute('/')" src="../../../assets/images/button_6.png"/>
        <div class="buttonDiv4">
            <label (click)="nextRoute('/')">Application for <br> Ammendment of <br> Registered Particulars <br> of Hong Kong Identity <br> Card</label>
        </div>
    <input type="image" class="secondLeft secondTop" (click)="nextRoute('/')" src="../../../assets/images/button_6.png"/>
        <div class="buttonDiv5">
            <label (click)="nextRoute('/')">Application for a <br> Certificate of Registered <br> Particulars - in respect <br> of a Deceased Person</label>
        </div>
    <input type="image" class="thirdLeft secondTop" (click)="nextRoute('/')" src="../../../assets/images/button_6.png"/>
        <div class="buttonDiv6">
            <label (click)="nextRoute('/')">Application for <br> Certificate of Exemption</label>
        </div>
        <input type="image" class="firstLeft thirdTop" (click)="nextRoute('/')" src="../../../assets/images/button_6.png"/>
        <input type="image" class="secondLeft thirdTop" (click)="nextRoute('/')" src="../../../assets/images/button_6.png"/>
        <input type="image" class="thirdLeft thirdTop" (click)="nextRoute('/')" src="../../../assets/images/button_6.png"/>
    <input type="image" class="backButton" (click)="nextRoute('/')" src="../../../assets/images/button_back.png"/>
    <label (click)="nextRoute('/')" class="footerFirst">SCN-GEN-005-1</label>
</div>