@import '../../../shared/sc2-confirm/sc2-confirm.components.scss';
.buttonTC {
  // position: absolute;
  // top: 27px;
  // left: 1018px;

  position: absolute;
  // margin-top: 30px;
  // margin-left: 1000px;
  top: 27px;
  left: 1018px;
  width: 202px;
  height: 66px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-family: 'Arial','Microsoft YaHei','黑体','宋体',sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #6B6B6B;
  border-radius: 5px;
}

.labelStay {
  position: absolute;
  top: 27px;
  left: 291px;
  width: 400px;
  color: cornflowerblue;
  font-family: 'Arial','Microsoft YaHei','黑体','宋体',sans-serif;
  font-size: 30px;
  white-space: pre-wrap;
}

.label1 {
  position: absolute;
  top: 203px;
  left: 291px;
  color: #6B6B6B;
  font-family: 'Arial','Microsoft YaHei','黑体','宋体',sans-serif;
  font-size: 30px;
  white-space: pre-wrap;
}

.oldCardLable {
  position: absolute;
  top: 303px;
  left: 310px;
  color: #6B6B6B;
  border-width: medium;
  font-family: 'Arial','Microsoft YaHei','黑体','宋体',sans-serif;
  font-size: 30px;
}

.newCardLable {
  position: absolute;
  top: 303px;
  left: 810px;
  color: #6B6B6B;
  border-width: medium;
  font-family: 'Arial','Microsoft YaHei','黑体','宋体',sans-serif;
  font-size: 30px;
}

.main-image {
  position: absolute;
  top: 305px;
  left: 291px;
  bottom: 195px;
}

.exitButton {
  // position: absolute;
  // top: 873px;
  // left: 291px;
  // bottom: 69px;

  position: absolute;
  // margin-left: 276px;
  // margin-top: 580px;
  top: 873px;
  left: 291px;
  width: 122px;
  height: 52px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-family: 'Arial','Microsoft YaHei','黑体','宋体',sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  font-family: 'Arial','Microsoft YaHei','黑体','宋体',sans-serif;
  background-color: #A8A8A8;
  border-radius: 5px;
}

.timer {
  position: absolute;
  left: 760px;
}

.sideimg{
  position: absolute;
  left: 0px;
}

.steps-div {
  position: absolute;
  margin-left: 73px;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 42px;
  font-weight: bold;
  color: #FFFFFF;
  background: #A891BC;
  font-family: 'Arial','Microsoft YaHei','黑体','宋体',sans-serif;
  // width: 230px;
  // height: 78px;
}


.indicate_right {
  position: absolute;
  margin-top: 335px;
  margin-left: 800px;
  width: 452px;
  height: 290px;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  background-color: #6B6B6B;
  border-radius: 5px;
}

.indicate_left {
  position: absolute;
  margin-top: 335px;
  margin-left: 300px;
  width: 452px;
  height: 290px;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  background-color: #6B6B6B;
  border-radius: 5px;
}

