<div class="mainPanel">
    <sc2-timer (timerExpired)="timeExpire()" class="timer" #timer ></sc2-timer>
    <!--<sc2-timer (timerExpired)="timeExpireOpenGate()" class="timer" #timerOpenGate id="timerOpenGateObj"></sc2-timer>-->
    <input class="buttonTC" id="langBtn" type="button" value="{{'SCN-GEN-STEPS.LANGUAGE' | translate}}" (click) = "langButton()">
    <img src="../../../../assets/images/menubar_1.png" class="sideimg" />
    <p class="steps-div">{{'SCN-GEN-STEPS.NAVIGATION' | translate}}</p>
    <sc2-confirm #modalRetryOCR>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageRetry | translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="failTryAgainOCR()"><span>{{'SCN-GEN-STEPS.YES' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalRetryOpenGate>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageRetry | translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="failTryAgainOpengate()"><span>{{'SCN-GEN-STEPS.YES' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalRetryOpenCard>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageRetry | translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="failTryAgainOpenCard()"><span>{{'SCN-GEN-STEPS.YES' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalFail>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageFail| translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="processFailQuit()"><span>{{'SCN-GEN-STEPS.YES' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalNoROP>
        <div class="app-modal-body">
            <div class="modal-message">
                {{'SCN-SCK-COMMON.TIMEOUT-NO-RESPONSE' | translate}}
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modal1Comfirm>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageComfirm | translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="comfirmStartOcrFn()"><span>{{'SCN-GEN-STEPS.YES' | translate}}</span></button>
                <button type="button" class="btnModal cancel" (click)="processAbortQuit()"><span>{{'SCN-GEN-STEPS.NO' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalQuit>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageAbort | translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="processConfirmQuit()"><span>{{'SCN-GEN-STEPS.YES' | translate}}</span></button>
                <button type="button" class="btnModal cancel" (click)="processCancelQuit()"><span>{{'SCN-GEN-STEPS.NO' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalTimeout>
        <div class="app-modal-body">
            <div class="modal-message" style="align-content: center">
                {{messageTimeout | translate}}
            </div>
        </div>
    </sc2-confirm>
    <label class="label1" >{{'SCN-GEN-STEPS.INSERT-HKID' | translate}}</label>
    <sc2-process-comp #processing></sc2-process-comp>
    <!--   (click)="nextRoute()" -->
    <img id="oldCard" *ngIf="readType === 1" src="../../../../assets/images/insert-old-hkid.gif" class="main-image">
    <img id="newCard" *ngIf="readType === 2" src="../../../../assets/images/insert-new-hkid.gif" width="928" height="522" class="main-image">
    <input #imgNext type="button" (click)="nextRoute()">
    <input type="image" src="../../../../assets/images/button_Abort.png" class="exitButton" (click)="processModalQuitShow()" />
    <input class="exitButton" id='exitBtn' type="button" value="{{'SCN-GEN-STEPS.ABORT' | translate}}" (click) = "processModalQuitShow()">
    <label class="footerSteps">Insert Card</label>
</div>