<div class="mainPanel">
    <sc2-timer (timerExpired)="timeExpire()" class="timer"></sc2-timer>
    <input class="buttonTC" type="button" value="{{'SCN-GEN-STEPS.LANGUAGE' | translate}}" (click) = "langButton()">
    <img src="../../../../assets/images/menubar_2.png" class="sideimg" />
    <p class="steps-div">{{'SCN-GEN-STEPS.NAVIGATION' | translate}}</p>
    <sc2-confirm #modalRetry>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageRetry | translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="failTryAgain()"><span>{{'SCN-GEN-STEPS.YES' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalFail>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageFail| translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="processFailQuit()"><span>{{'SCN-GEN-STEPS.YES' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modalNoROP>
        <div class="app-modal-body">
            <div class="modal-message">
                {{'SCN-SCK-COMMON.TIMEOUT-NO-RESPONSE' | translate}}
            </div>
        </div>
    </sc2-confirm>
    <sc2-confirm #modal1>
        <div class="app-modal-body">
            <div class="modal-message">
                {{messageAbort | translate}}
            </div>
            <div class="buttonDiv">
                <button type="button" class="btnModal confirm" (click)="processFailQuit()"><span>{{'SCN-GEN-STEPS.YES' | translate}}</span></button>
                <button type="button" class="btnModal cancel" (click)="modal1.hide()"><span>{{'SCN-GEN-STEPS.NO' | translate}}</span></button>
            </div>
        </div>
    </sc2-confirm>
    <sc2-process-comp #processing></sc2-process-comp>
    <label class="label1" >{{'SCN-GEN-STEPS.PLACE-LEFT-FP' | translate}}</label>
    <img src="../../../../assets/videos/insert-left-fingerprint.gif" class="rightimage">
    <!--   (click)="nextRoute()" -->
    <img  src="../../../../assets/images/image12.png" class="main-image"/>
    <!--<img id="finger_num_0" style="display: none" src="../../../../assets/images/fp/Fingerprint-6.png" class="main-image"/>-->
    <!--<img id="finger_num_1" style="display: none" src="../../../../assets/images/fp/Fingerprint-7.png" class="main-image"/>-->
    <!--<img id="finger_num_2" style="display: none" src="../../../../assets/images/fp/Fingerprint-8.png" class="main-image"/>-->
    <!--<img id="finger_num_3" style="display: none" src="../../../../assets/images/fp/Fingerprint-9.png" class="main-image"/>-->
    <!--<img id="finger_num_4" style="display: none" src="../../../../assets/images/fp/Fingerprint-10.png" class="main-image"/>-->
    <!--<img id="finger_num_5" style="display: none" src="../../../../assets/images/fp/Fingerprint-1.png" class="main-image"/>-->
    <!--<img id="finger_num_6" style="display: none" src="../../../../assets/images/fp/Fingerprint-2.png" class="main-image"/>-->
    <!--<img id="finger_num_7" style="display: none" src="../../../../assets/images/fp/Fingerprint-3.png" class="main-image"/>-->
    <!--<img id="finger_num_8" style="display: none" src="../../../../assets/images/fp/Fingerprint-4.png" class="main-image"/>-->
    <!--<img id="finger_num_9" style="display: none" src="../../../../assets/images/fp/Fingerprint-5.png" class="main-image"/>-->

    <input #imgNext type="hidden" (click)="nextRoute()">
    <input type="image" src="../../../../assets/images/button_Abort.png" class="exitButton" (click)="modal1.show()" />
    <input class="exitButton" type="button" value="{{'SCN-GEN-STEPS.ABORT' | translate}}" (click) = "modal1.show()">
    <label class="footerSteps">fingerprint</label>
</div>